.star-rating{
 appearance: none;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 56px;
  content: '★★★★★';
  position: relative;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.2);
}


.star-rating-yellow {
  --percent: calc(1.5/5*100%);
  background: linear-gradient(90deg, #ffd900 var(--percent), rgba(0,0,0,0.2) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star-rating-green {
  --percent: calc(3.5/5*100%);
  background: linear-gradient(90deg, #229d20 var(--percent), rgba(0,0,0,0.2) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.star-rating-red {
  --percent: calc(5/5*100%);
  background: linear-gradient(90deg, #d33c3c var(--percent), rgba(0,0,0,0.2) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

